body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; 
    overflow-x: hidden; 
}


h1 {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 50px 0;
    margin: 0;
    color: #fff; 
    font-size: 2.5em;
    background: linear-gradient(120deg, #805ad5, #5c3b9b);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h2 {
    text-align: center;
    color: #333; 
    font-size: 1.5em;
    margin-bottom: 30px;
}

#balance {
    text-align: center;
    margin-bottom: 30px;
    color: #805ad5; 
    font-size: 1.5em;
}

#transactionList {
    list-style-type: none;
    padding: 0;
}

#transactionList li {
    margin-bottom: 10px;
    color: #333; 
    font-size: 1.2em;
}

#addTransaction {
    margin-top: 40px;
    text-align: center;
}

.inputGroup {
    margin-bottom: 20px;
    display: inline-block;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333; 
    font-size: 1.1em;
}

input[type="number"] {
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #805ad5;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    background-color: #805ad5; 
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #5c3b9b; 
}

#periodSelector {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 5px;
}

#periodSelector label {
    display: block;
    margin-bottom: 10px;
    color: #333; 
    font-size: 1.1em;
}

#periodSelector select {
    padding: 10px;
    border: 2px solid #805ad5;
    background-color: #805ad5; 
    color: #fff;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.5s, border-color 0.5s;
}

#periodSelector select:hover {
    background-color: #5c3b9b; 
    border-color: #5c3b9b;
}

#balanceAmount {
    font-weight: bold;
    color: #333; 
    font-size: 1.2em;
}
    .historico-button:hover {
        background-color: darkblue;
    }
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
        overflow-x: hidden;
    }
    
    h1 {
        text-align: center;
        padding: 20px;
        margin: 0;
        color: #fff;
        background: linear-gradient(120deg, #805ad5, #5c3b9b);
        background-size: 400% 400%;
        animation: gradientAnimation 10s ease infinite;
    }
    
    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    #mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    
    #balance, #addTransaction, #periodSelector, #transactions {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 10px 0;
        width: 100%;
        max-width: 600px;
        text-align: center;
    }
    
    .inputGroup {
        margin-bottom: 20px;
    }
    
    label {
        display: block;
        margin-bottom: 10px;
        color: #333;
    }
    
    input[type="number"], select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 2px solid #805ad5;
        border-radius: 5px;
        font-size: 1em;
    }
    
    button {
        padding: 10px 20px;
        background-color: #805ad5;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 5px;
        font-size: 1.1em;
        transition: background-color 0.3s ease-in-out;
    }
    
    button:hover {
        background-color: #5c3b9b;
    }
    
    #transactionList {
        list-style-type: none;
        padding: 0;
        max-height: 300px;
        overflow-y: auto;
    }
    
    #transactionList li {
        background: #f1f1f1;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        color: #333;
        font-size: 1.2em;
        display: flex;
        justify-content: space-between;
    }
    
    .transactionLabel {
        font-weight: bold;
    }
    
    .transactionAmount {
        color: #805ad5;
    }
    
    

